.about-content
  h2 About This is site
  .ui.two.column.divide.grid
    .row
      .column
        .ih-item.circle.colored.effect3.left_to_right
          a(href='#')
            .img
              img(src='img/g0v-shinzan.jpg', alt="g0v shinzan")
            .info
              h3 g0v 新參者
              p 初來乍到的新參鹿
              p 有朝一日希望能成為g0v大使
      .column
        .ih-item.circle.colored.effect3.left_to_right
          a(href='#')
            .img
              img(src='img/g0v-dashi.jpg', alt="g0v dashi")
            .info
              h3 g0v 大使
              p 相當老練的熊大使
              p 不辭辛勞的帶領著眾多新參鹿
  .ui.segment
    p 圖片作者: 子龍


